from gvtest import *

# Called by gvtest to declare the tests
def testset_build(testset):

    testset.set_name('deprecated')

    testset.import_testset(file='spatz/testset.cfg')
    testset.import_testset(file='snitch_spatz/testset.cfg')
