docs/developer/_build/
build/
/install/
__pycache__/
add_dramsyslib_patches/build_dynlib_from_github_dramsys5/DRAMSys
add_dramsyslib_patches/build_dynlib_from_github_dramsys5/cmake*
*DRAMSysRecordable*
*debug_binary*
*gvsoc_config.json
*hyperflash.bin
*power_report.csv
*spiflash.bin
third_party/
*trace_file.txt
*tx_uart.log
BUILD