[submodule "core"]
	path = core
	url = https://github.com/gvsoc/gvsoc-core.git
[submodule "pulp"]
	path = pulp
	url = https://github.com/gvsoc/gvsoc-pulp.git
[submodule "gvtest"]
	path = gvtest
	url =  https://github.com/gvsoc/gvtest.git
[submodule "pulpos"]
	path = pulpos
	url = https://github.com/gvsoc/pulpos.git
[submodule "gvrun"]
	path = gvrun
	url = https://github.com/gvsoc/gvrun.git
