[submodule "core"]
	path = core
	url = https://github.com/marpac3/gvsoc-core.git
[submodule "pulp"]
	path = pulp
	url = https://github.com/marpac3/gvsoc-pulp.git
[submodule "gvtest"]
	path = gvtest
	url =  https://github.com/gvsoc/gvtest.git
[submodule "pulpos"]
	path = pulpos
	url = https://github.com/gvsoc/pulpos.git
[submodule "gvrun"]
	path = gvrun
	url = https://github.com/gvsoc/gvrun.git
[submodule "config_tree"]
	path = config_tree
	url = https://github.com/gvsoc/config_tree.git
