docs/developer/_build/
build/
/install/
__pycache__/
soft_hier/build_dynlib_from_github_dramsys5/DRAMSys
soft_hier/build_dynlib_from_github_dramsys5/cmake*
flex_cluster_arch*
*DRAMSysRecordable*
*debug_binary*
*gvsoc_config.json
*hyperflash.bin
*power_report.csv
*spiflash.bin
third_party/
*trace_file.txt
*tx_uart.log
result*
sw_build*
pyenv*
soft_hier/flex_cluster_sdk/runtime/include/flex_cluster_arch.*
dump*
test.sh
softhier.log