from gvtest import *

# Called by gvtest to declare the tests
def testset_build(testset):

    testset.set_name('gvsoc')

    # Pulp examples now live in the pulp module (pulp/examples).
    testset.import_testset(file='pulp/examples/testset.cfg')
