from plptest.testsuite import *

def check_output(test, output):

    expected = 'Hello, got 0x12345678 from my comp\n' \
        'Received request at offset 0x0, size 0x4, is_write 0\n' \
        'Received value 1\n' \
        'Received results 11111111 22222222\n'

    if output.find(expected) == -1:
        return (False, "Didn't find output string\n")

    return (True, None)

# Called by plptest to declare the tests
def testset_build(testset):

    #
    # Test list decription
    #
    test = testset.new_test('2_how_to_make_components_communicate_together')
    test.add_command(Shell('clean', 'make clean'))
    test.add_command(Shell('gvsoc', 'make prepare gvsoc'))
    test.add_command(Shell('all', 'make all'))
    test.add_command(Shell('run', 'make run'))
    test.add_command(Checker('check', check_output))
