from plptest.testsuite import *



# Called by plptest to declare the tests
def testset_build(testset):

    #
    # Test list decription
    #
    test = testset.new_test('linux_boot')
    test.add_command(Shell('run', './launch_linux.py'))

    test = testset.new_test('pulp_open')
    test.add_command(Shell('run', 'gvsoc --target=pulp-open --binary ./pulp-open/hello image flash run'))

    test = testset.new_test('rv64')
    test.add_command(Shell('run', 'gvsoc --target=rv64 --binary pk --arg hello run'))
