from plptest import *

# Called by plptest to declare the tests
def testset_build(testset):

    testset.set_name('tutorials')

    testset.import_testset(file='0_how_to_build_a_system_from_scratch/testset.cfg')
    testset.import_testset(file='1_how_to_write_a_component_from_scratch/testset.cfg')
